<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Trigger flow calls</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<script src="/js/jquery-2.0.3.min.js"> </script>
	<script src="/moment/min/moment.min.js"> </script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<script src="/js/bootstrap.min.js"> </script>
	<script src="/build/js/bootstrap-datetimepicker.min.js"> </script>
	<link rel="stylesheet" href="/css/lmisstyle.css">
	<link rel="stylesheet" href="/build/css/bootstrap-datetimepicker.min.css">
	
	<style>
		#logout_box {
		  float:right;
		  margin-right: 14px;
		  margin-top: 13px;
		}
		#button_submit {
		  float:right;
		  margin-right: 14px;
		}
		body    { padding-top:50px; }
		.form-control
		{
			width:80%;
		}
		.container {
			/*width: 553px;*/
			width: 60%;
		}
		
	</style>
	<script>
		function updateListContact()
		{
			return ;
		}
	</script>
</head>
<body class="container">
	<div id="logout_box">
		<a href="/logout">Logout</a>
	</div>
<main>
	<h3>Programmation des appels IVR</h3>
    <div class="jumbotron">
        
	
	<form action="/startflows" method="POST">
	
	Groups:
	<select  id="group_select" name="group_select" class="form-control">
		<option value="">Selectionner un groupe des contacts</option>
		<% groups.forEach(function(group) { %>
			<option value="<%= group.uuid %>"><%= group.name %></option>
		<% }); %>
	</select>
	
	
	Flows:
	<select  id="flow_select" name="flow_select" class="form-control">
		<option value="">Selectionner un flux</option>
		<% flows.forEach(function(flow) { %>
			<option value="<%= flow.uuid %>"><%= flow.name %></option>
		<% }); %>
	</select>
	Date de lancement des appels:
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="date_select" name="date_select"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker(
                );
            });
        </script>
    </div>
	Interval entre chaque appel (minutes):
	<select  id="interval_select" name="interval_select" class="form-control">
		<option value="0">Selectionner un intervalle de temp</option>
		<% for(var i=2;i<=10; i+=2){ %>
			<option value="<%= i %>"><%= i %></option>
		<% }%>
	</select>
	<!--input type="text" class="form-control" id="interval" name="interval"-->
	<p>
	<button type="submit" class="btn btn-default" id="button_submit">Submit</button>
	</p>
	</form>
    </div>
</main>

<footer>
    
</footer>

</body>
</html>
